@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&family=Poppins:wght@300;500&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@800&display=swap');

.temp {
  border: 2px solid red !important;
}

body {

  /* background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */

 
  

}

.dropdown-menu li {

  position: relative;
}

.dropdown-menu .submenu {
  display: none;
  position: absolute;

}

.dropdown-menu>li:hover>.submenu {
  display: block;
  left: 100%;
  top: 5px;
}



.navbar-actions-subwrapper {


  width: 100%;

}

.navbar-brand {
  width: 25vw;
  margin-left: 10px;
  padding: 5px;
  font-size: 28px;
  font-family: poppins;
  color: #4d5390;
}

.navbar {
  z-index: 2;
  border: 2px solid #cfcfcf;
  width: 100vw;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0.8;
  position: absolute;
  
}


.nav-item {

  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 1px;
  margin-bottom: 1px;

  border-radius: 5px;

  font-family: poppins;
  font-size: larger;
}

.nav-item:hover {
  border-radius: 0px !important;

  box-shadow: rgb(77, 83, 144, .4) 0px 5px, rgb(77, 83, 144, 0.8) 0px 10px, rgb(77, 83, 144, .2) 0px 15px, rgb(77, 83, 144, 0.1) 0px 20px, rgb(77, 83, 144, 0.1) 0px 25px;
}



.layout{
  margin-top: 75px;
  width: 100vw;

}


/* --------------------------------frontpage */



.frontpage-wrapper {


  width: 100vw;
  height: 90vh;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.fp-bg-image-wrapper {

  height: 100%;



}

.fp-bg-image {
  /* border: 2px solid blue; */

  width: 100%;
  height: 100%;

}

.carousel-item {
  width: 100vw !important;
  /* overflow: hidden; */
  object-fit: cover;
  /* border: 2px solid blue; */

  background: rgb(239, 237, 238);
  background: linear-gradient(90deg, rgba(239, 237, 238, 1) 0%, rgba(226, 221, 220, 1) 100%);
}

.carousel-img {
  width: 100%;
  /* overflow: hidden; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;


}

.carousel-img3 {
  width: 50%;
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.carousel-inner {
  height: 90vh;
  object-fit: contain;
}

.carousel-item-clipped {

  clip-path: polygon(54% 0, 100% 0, 100% 100%, 0 100%);


}




.frontpage2-wrapper {

  /* background-color: rgb(0, 0, 0); */
  width: 100vw;
  height: 640px;
  z-index: 1;
}

.brand-text {
  position: absolute;
  left: 50px;
  top: 200px;
  z-index: 1;
  font-family: 'Wix Madefor Text', sans-serif;
  color: #4d5390;


}

.brand-text-mod {
  color: #db5e2c;

}

.brand-text-caption {
  font-family: poppins;
  font-size: 35px;

}

.brochure-btn {
  border: 2px solid #4d5390;
  margin: 10px;
  font-family: poppins;
  font-size: 20px;
  background-color: #fff;
  padding: 12px;
  border-radius: 5px;
  color: #db5e2c;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.brochure-btn:hover {
  background-color: #db5e2c;
  color: white;
  border: 2px solid #db5e2c;
}




.about-head-title {
  font-family: 'poppins';
  font-size: 50px;
  margin: 5px;
  padding: 2px;

  

}

.about-details {
  font-family: poppins;
  font-size: 20px;
}

.about-details-btn {
  all: unset;
  border: 2px solid #4d5390;
  color: #cfcfcf;
  padding: 2px;
  margin: 20px;
  padding: 15px;
  font-size: 20px;
  border-radius: 2px;
  background-color: #4d5390;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.about-details-btn:hover {
  border: 2px solid #4d5390;
  background-color: #fff;
  color: #4d5390;
  border-radius: 5px;

}


.card-img-top {

  width: 100%;
  height: 100%;
}





.products-wrapper {
  width: 100vw;
  /* background-color: #4d5390; */


}

.product-subwrapper {
  margin: 5px;
  padding: 30px;
}

.products-main {
  width: 100vw;

  

}



.product-wrapper {
  width: 20vw;
  margin: 5px;
  border: 2px solid #e6e2e2;
  border-radius: 2px ;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
}

.rotate-left:hover{ 
  transform: scale(1.1) rotate(-1deg);
}


.rotate-right:hover{ 
  transform: scale(1.1) rotate(1deg);
}

.card-img-top {
  border-radius: 2px;
  padding: 8px;

  /* box-shadow: 0 15px 25px rgba(92, 91, 91, 0.5); */
}


.card-title {
  font-size: 30px;
  font-family: poppins;
  color: #4d5390;
  margin: 0px;
}


.product-details{

/* border: 2px solid red; */
}

.product-details-btn{
  
  all: unset;
  padding: 5px;
  margin-bottom: 10px;
  color: #4d5390;
  font-family: poppins;
  border-radius: 3px;
  border: 2px solid grey;
}

.product-details-btn:hover{
  
  color: white;
  background-color: #4d5390;
  border: 2px solid #4d5390;
}
/* #e6e2e2 */

/* running css  */

.marquee-w {
  position: relative;
  display: block;
  width: 100vw;
  height: 80px;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.marquee {
  position: absolute;
  display: block;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
  
}
.marquee span {
  display: inline-block;
  padding-left: 100%;
  font-family: 'poppins';
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
  line-height: 80px;
  font-size: 35px;
  animation: marquee 12s linear infinite;
}
.marquee2 span {
  animation-delay: 5s;
}





@keyframes marquee {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0);
  }
}



.marquee {
  position: absolute;
  display: block;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
  
}
.marquee div {
  display: inline-block;
  padding-left: 100%;
  font-family: 'poppins';
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
  line-height: 80px;
  font-size: 35px;
  animation: marqueeimg 10s linear infinite;
}
.marquee2 div {
  animation-delay: -5s;
}












@keyframes marqueeimg {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-200%, 0);
  }
}






/* products page  */





.products-bg{

  width: 100vw;
  height: 50vh;
  overflow: hidden;

  /* border: 2px solid red ; */

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.products-bg img{
  position: relative;
  bottom: 400px;
  /* height: 100%; */
  width:100% ;
  
}
.product-overlay{
  position: absolute;

  top: 0vh;
  /* border: 2px solid red; */
  width: 100vw;
  height: 50vh;
  background-color: rgb(0, 0, 0,0.4);
  color: #c8c8c8;
  font-family: poppins;
  font-size: 100px;

}

.products-head{
  font-size: 35px;
  font-family: poppins;

}

.products-text{
  font-size: 20px;
  font-family: poppins;
}

.product-img{

  
}
.product-img img{
  width: 20vw;
  margin: 2px;
  
}

.product-album{
  margin-top: 50px;
  /* height: 50vh; */
  
}

.product-video iframe{
  /* border: 2px solid black; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


/* quick enquiry css ------------- */

.cnt-enq-head{
  /* max-width: 600px; */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enq-input{
  margin-top: 25px;
  margin: 10px 10px ;
  width: 20vw;
  height: 35px;
  font-size: large;
}

.msg{
  width: 98%;

  margin-top: 25px;
  margin: 10px 10px ;

  font-size: large;

  height: 100px;
  resize: none;
}
.captcha-wrapper{
  font-family: poppins;
  margin-top: 25px;
  margin: 10px 10px ;
  
}

.captcha{
  width: 60px;
}

.Enquiry-wrapper{



/* margin-bottom: 50px; */
padding-bottom: 50px;
/* border: 2px solid red ; */

}

.eqn-btn{
  width: 8vw;
  font-family: "poppins";
  background-color: white;
  border: 2xp solid rebeccapurple ;
  
}

.footer-wrapper{
  /* background-color: #db5e2c; */
  margin: 0px 0px ;
  padding: 0px 0px;
}

.whatsapp-wrapper{
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 2;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* padding: 5px; */

}

.whatsapp{
  max-width: 75px;
  
}

.error-text{
 border: 2px solid red;
 color: red; 
}

.clip1{
  max-width: 500px;
  position: absolute;
}


.contact-back {
  height: 300px;
  max-width: 100vw;
  overflow: hidden;
  background-color: rgb(32, 32, 32);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: 2px solid rgb(216, 216, 216);
}


.contact-back img{
 opacity: 0.7;
}

.contact-details{
  padding: 15px;
  margin-left: 150px;
   
}

.contact-details-list li{
  list-style-type: none;
  height: 150px;
}

.error{
  border :2px solid red;
}

.form-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 5px;
}

.form-container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.contact-map{
  margin-top: 100px;
}


.container2 {
  overflow: hidden;
  /* border: 2px solid red ; */

  position: absolute;

  right: 15px;
  top : 3200px;

  z-index: 1;

}

.image2 {
  transition: transform 0.3s ease-out;
  max-width: 1200px;
}

.aboutpage{
  margin-top: 100px;
}
.contact-wrapper{
  margin-top: 75px;

}

.start-margin{
  margin-top: 75px;

}

.gallery-heading h1{

  font-size: 10vw;
  top: 25px;
  z-index: 1;
 
}


@media only screen and (max-width: 600px) {

}










/* GALLERY -  */


/* section */
.section {
  padding: 5rem 0;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .section {
    grid-template-columns: 1fr 1fr 1fr;
    width: 95vw;
  }
  .prev-btn {
    left: -4.5rem;
  }
  .next-btn {
    right: -4.5rem;
  }
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: 15rem;
}
.img:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

